extend layout
block content
  h1 Contact
  p.well Drop us a line!
  address.well
    strong The Latest Craze
    br
    | Andrew Craze
    br
    br
    abbr(title="Email") E:
    |  accraze@gmail.com