extends layout
block content
  hr
  h4 Featured
  ul.thumbnails
      each product in featured
        li.span3
          a(href="/product/#{product.name}").thumbnail
            img(src="/img/style/widgetSm.png", alt="")
            h6 #{product.name}
              p.pull-right $#{product.pricing.retail}
block scripts
  
  