@import url("http://fonts.googleapis.com/css?family=Sigmar\+One");
body {
  background-color: #fff;
  background: url("../img/grey_stripe.png");
  color: #242424;
  font-family: 'Sigmar One', cursive;
}
.thumbnail h6 p {
    color:#333;
}