extend layout
block content
    h2 #{product.name}
    hr
    .row
      .span6
        img(src="/img/style/widgetMed.png", alt="")
      .span6
        hr
        p.well Description:  #{product.description}
        hr
        h3.pull-left $#{product.pricing.retail}
        a(addId='#{product.id}').btn.btn-primary.btn-large.pull-right Add to cart